{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-primary mb-4">Nouvelle facture</h1>
        <div class="row">
            <div class="col-md-8">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    {{ form_label(form.designation, 'Désignation', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.designation, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.designation) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.articles, 'Articles', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.articles, {'attr': {'class': 'form-control', 'onchange': 'calculateTotalHT()'}}) }}
                    {{ form_errors(form.articles) }}
                </div>
                <div class="form-group">
                    <label for="prixTotalHT" class="control-label">Prix Total HT</label>
                    <input type="text" id="prixTotalHT" name="prixTotalHT" readonly class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <a href="{{ path('app_facture_index') }}" class="btn btn-secondary">Retour à la liste des factures</a>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
            function calculateTotalHT() {
                let selectedArticles = document.getElementById('{{ form.articles.vars.id }}');
                let prixTotalHT = document.getElementById('prixTotalHT');
                let totalHT = 0;

                for (let i = 0; i < selectedArticles.options.length; i++) {
                    if (selectedArticles.options[i].selected) {
                        totalHT += parseFloat(selectedArticles.options[i].getAttribute('data-prix'));
                    }
                }

                prixTotalHT.value = totalHT.toFixed(2);
            }
        </script>
    {% endblock %}


{% endblock %}

